{% extends "prediccion/base.html" %}

{%block prediccion%}


{%if dic.palabra == 'TRABAJO'%}
<div>
<p>
{{dic.tiempo}} para <b>{{dic.signo}}</b> {{dic.possigno}}
</p>
<p>
    En cuanto a <b>{{dic.palabra}}</b>, {{dic.pospalabra}}
</p>
<p>{{dic.cierre}}</p>
</div>
{% elif dic.palabra == 'AMOR' %}
<div>
    <p>
    {{dic.tiempo}} para <b>{{dic.signo}}</b> {{dic.possigno}}
    </p>
    <p>
        En cuanto a <b>{{dic.palabra}}</b>, {{dic.pospalabra}}
    </p>
    <p>{{dic.cierre}}</p>
    </div>
{% else%}
<div>
    <p>
    {{dic.tiempo}} para <b>{{dic.signo}}</b> {{dic.possigno}}
    </p>
    <p>
        En cuanto a <b>{{dic.palabra}}</b>, {{dic.pospalabra}}
    </p>
    <p>{{dic.cierre}}</p>
    </div>
{%endif%}
{%endblock%}